.company_style
{
    color:orange;
    margin-left:100px;
}
.container
{
    widhth:100%;
    height:100%;
}

.box
{
    background-color:rgb(131, 170, 147);
    border-radius: 0% 0% 50% 50%;
    text-align:center;
    width:200px;
    height:180px;
    font-size:25px;
    color:white;
    padding:25px;
    margin-top:-50px;
    margin-left:55%;
    position: absolute;
}
.ourservices
{
 color:green;
}
.number
{
    color:orangered;
}
.services_name
{
    color:seagreen;
}
.aboutus
{
    background-color:seagreen;
    font-size:10px;
    text-align:left;
    color:white;
    text-align:center;
    padding-left:50px;
    padding-right: 12px;
    padding-top:5px;
    padding-bottom:5px;

}
.contactus
{
    background-color:orangered;
    font-size:10px;
    text-align:left;
    color:white;
    text-align:center;
    padding-left:50px;
    padding-right: 12px;
    padding-top:5px;
    padding-bottom:5px;
    
}

.website
{
    background-color:skyblue;
    font-size:10px;
    text-align:left;
    color:white;
    text-align:center;
    padding-left:50px;
    padding-right: 12px;
    padding-top:5px;
    padding-bottom:5px;

}
